name: CI

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - name: Install
        run: yarn install
      - name: Lint
        run: yarn run lint

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
          cache: yarn
      - name: Install
        run: yarn install
      - name: Unit Test
        run: yarn run test:ci
